header{
	font-family: 'Lobster', cursive;
}
.indexHeader{
	background-color: black;
	opacity: 0.8;
}
.itemIndex{
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 20px;
	display: inline;
}
.indexNav{
    display: inline;
	text-align: center;
}
.itemIndex a{
	padding: 10px;
	color: white;
	text-decoration: none;
}
