h1{
	animation-duration: 2s;
	animation-name: aparecer;
	text-align: center;
}
h2{
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}
h3{
	color: black;
	font-family: 'Roboto Condensed', sans-serif;   
	text-align: center;
}
.titulo{
	font-size: 50px;
	font-weight: 200;
	padding: 20;
	color: white;
}
.loginTitulo {
	text-align: center;
}
.card-title{
	color: black;
}
.subtitulos{
	color: white;
}
.simil-titulo{
	color: white;
	font-family: 'Lobster', cursive
}
.titulo-prod{
	color: black;
	font-weight: bold;
}
.titulo-responsive{
	animation-duration: 2s;
	animation-name: aparecer;
	color: white;
	font-family: 'Lobster', cursive;
}