@import "header";
@import "formularios";
@import "titulos";

html{
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
a{
	text-decoration: none;
}
body{
	
	background-color: #c7c7c7;
}
.indexFooter{

	background-color: black;
}
.textBox{
	text-decoration-color: white;
	font-size: 21px;
	display: inline-block;
	margin: 10px 10px 10px 100px;
	padding: 10px 10px 0px 370px;
}
.quedateEnCasa{
	width: 100%;
}
.btn-primary{
	background-color: black;
}
.card-text{
	font-size: 20px;
	color: black;
}
.card-deck{
	margin: 70px 0px 0px 0px;
}
.card-img-top1{
	width: 35%;
}
.imagenlink{
	display: block;
	margin: 0 auto;
	padding: 25px 10px 10px 10px;
	max-width: 100%;
	width: 80%;

}
.contenido{
	margin: 0px 10px 10px 10px;
	padding-top: 210px;
}








